Roll no. : 18BIT171

Practical 1: Implement following normalization method on the given data (age):

13, 15, 16, 16, 19, 20, 22, 25, 25, 25, 25, 30, 33, 33, 35, 35, 35, 35, 36, 40, 45,
46, 52, 70.

a)Use Min-Max Normalization to transform the value 25 and 52 for age onto the range[0.0, 1.0].

b) Use z-score normalization to transform the value 35 for age, where the standard deviation of age is 12.94 years.

c) Use normalization by decimal scaling to transform the value 35 for age.

**The data normalization is an approach of data organization in multiple related databases. It provides the transformation of tables in order to avoid data redundancy and undesirable properties such as anomalies of insertion, update, and deletion. Data mining normalization is a multi-stage process that transforms data into the table deleting repeated data from the relational databases. It is very important because if the dataset is great that includes many fine features but it is not normalized one of the features can prevail over other ones. Data mining normalization solves this problem.**

In [ ]:
import numpy as np

In [ ]:
age=[13, 15, 16, 16, 19, 20, 20, 21, 22, 22, 25, 25, 25, 25, 30, 33, 33, 35, 35, 35, 35, 36, 40, 45, 46, 52, 70]
avg=np.mean(age)
print(avg)
s_d=np.std(age)
print(s_d)
new_age=[]
for i in age:
  new_age.append((i-min(age))/(max(age)-min(age)))
new_age  #min-max normalization

29.962962962962962
12.700193878606099

[0.0,
 0.03508771929824561,
 0.05263157894736842,
 0.05263157894736842,
 0.10526315789473684,
 0.12280701754385964,
 0.12280701754385964,
 0.14035087719298245,
 0.15789473684210525,
 0.15789473684210525,
 0.21052631578947367,
 0.21052631578947367,
 0.21052631578947367,
 0.21052631578947367,
 0.2982456140350877,
 0.3508771929824561,
 0.3508771929824561,
 0.38596491228070173,
 0.38596491228070173,
 0.38596491228070173,
 0.38596491228070173,
 0.40350877192982454,
 0.47368421052631576,
 0.5614035087719298,
 0.5789473684210527,
 0.6842105263157895,
 1.0]

z-score normalization is an approach to the data processing that takes into account outliers; however, it does not provide data normalization with an identical scale.

In [ ]:
#z-score normalization
z_score_age=[]
for i in age:
  z_score_age.append((i-avg)/s_d)
z_score_age

[-1.3356459850221374,
 -1.1781680741243308,
 -1.0994291186754275,
 -1.0994291186754275,
 -0.8632122523287176,
 -0.7844732968798143,
 -0.7844732968798143,
 -0.705734341430911,
 -0.6269953859820077,
 -0.6269953859820077,
 -0.39077851963529775,
 -0.39077851963529775,
 -0.39077851963529775,
 -0.39077851963529775,
 0.0029162576092187234,
 0.23913312395592862,
 0.23913312395592862,
 0.3966110348537352,
 0.3966110348537352,
 0.3966110348537352,
 0.3966110348537352,
 0.4753499903026385,
 0.7903058120982517,
 1.1840005893427683,
 1.2627395447916716,
 1.7351732774850914,
 3.152474475565351]

Decimal scaling technique entails the transformation of the decimal points of the values according to the absolute value of the maximum. It follows that the means of the normalized data will always be between 0 and 1.

In [ ]:
#decimal scaling
j=0
dec_scale_age=[]
value=max(age)
while value>=1:
  value=value/10
  j=j+1
print(j)
for i in age:
  dec_scale_age.append(i/(10**j))
dec_scale_age

2

[0.13,
 0.15,
 0.16,
 0.16,
 0.19,
 0.2,
 0.2,
 0.21,
 0.22,
 0.22,
 0.25,
 0.25,
 0.25,
 0.25,
 0.3,
 0.33,
 0.33,
 0.35,
 0.35,
 0.35,
 0.35,
 0.36,
 0.4,
 0.45,
 0.46,
 0.52,
 0.7]

APPLICATION OF NORMALIZATION

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving insurance.csv to insurance.csv

The insurance.csv dataset contains 1338 observations (rows) and 7 features (columns). The dataset contains 4 numerical features (age, bmi, children and expenses) and 3 nominal features (sex, smoker and region) that were converted into factors with numerical value designated for each level.

In [ ]:
dataset=pd.read_csv("insurance.csv")
dataset

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

The purposes of this dataset is to look into different features to observe their relationship, and plot a multiple linear regression based on several features of individual such as age, physical/family condition and location against their existing medical expense to be used for predicting future medical expenses of individuals that help medical insurance to make decision on charging the premium.

NORMALISATION FOR THE charges feature of INSURANCE dataset

In [ ]:
df=dataset['charges']
df

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [ ]:
avg=np.mean(df)
print(avg)
s_d=np.std(df)
print(s_d)
new_df=[]
for i in df:
  new_df.append((i-min(df))*(3000)/(max(df)-min(df))+1000)
new_df  #min-max normalization in the range of 1000-4000

13270.422265141257
12105.484975561605

[1754.8322698233137,
 1028.9078531137388,
 1159.3454859703863,
 1999.0300816856316,
 1131.4466713077027,
 1126.16800518846,
 1340.8881083273254,
 1294.9612383320814,
 1253.0562855794533,
 2331.2963123387876,
 1076.5914037149994,
 2277.9313862444064,
 1033.7582779051306,
 1477.3698631175,
 2843.1335413943525,
 1034.256006870196,
 1463.3209387248537,
 1060.973361704293,
 1453.9854702801535,
 2710.2833548539497,
 1579.7567025445912,
 1144.9927524911557,
 1000.7248579100527,
 2751.67663897423,
 1243.3589053504813,
 1616.738570409123,
 1638.320936821378,
 1533.7756876445173,
 1079.171096930524,
 2799.9996951565718,
 2650.335075865648,
 1051.5406603691208,
 1170.7584389133158,
 1605.675143489756,
 3397.7896673599703,
 1024.1135581093781,
 1693.886059583634,
 1056.5260978534657,
 2850.915936485928,
 3253.1160264633913,
 1092.1420195885826,
 1183.3027842883125,
 1246.642721759696,
 1248.6195495055138,
 1237.40999311628,
 1934.1832331395844,
 1108.772619684646,
 1116.6051683678675,
 1551.0752624774343,
 2799.9123507624713,
 1052.160350648514,
 1117.7020683837775,
 2074.872281677308,
 2753.6255538651567,
 1332.224995383856,
 3220.70347235345,
 1597.8826659627755,
 2588.9254159835555,
 2059.3819736600462,
 1233.0931568565773,
 1358.3966273280046,
 1161.9888223147373,
 2390.8418805166257,
 1144.2220555343636,
 1650.7669694725216,
 1029.7536044762837,
 1627.940977391537,
 1252.2406474418153,
 1229.7689197220006,
 1792.09826315974,
 1740.124292710512,
 1271.8778197194056,
 1508.5441595995997,
 1518.3560332929765,
 1316.2872724118804,
 1490.1048625334347,
 1135.3042814861542,
 1019.6618647868105,
 1078.20517519682,
 1260.9390046144833,
 1158.950480046442,
 1326.2685314989149,
 2725.9755031240256,
 1474.6376643871117,
 2853.896501682567,
 1956.6069209637822,
 3033.106722245469,
 1476.5298533080543,
 1330.6441528343837,
 1476.9800408726464,
 1043.3417919786689,
 1470.2546590025363,
 2391.7190849594217,
 1220.6179280008926,
 3210.8657616711275,
 1126.6594227548726,
 1525.9552876854095,
 1435.9754393061123,
 2019.5338856161193,
 1703.8705988740653,
 1242.507740455177,
 1120.8271540746018,
 1968.4009353747556,
 2427.9811397230665,
 1185.8931537278859,
 1787.177266109135,
 1057.9252841754053,
 1131.9470364070307,
 1083.573151437892,
 3199.5874694577205,
 1464.657801182253,
 1515.230602821649,
 1168.7932858184204,
 1061.4312613383313,
 1496.409367970328,
 2395.313367113238,
 1491.2859512441187,
 1861.276335368564,
 1358.1625548867755,
 1266.4654027080785,
 1316.9329217899806,
 1027.953586876484,
 1054.379611762759,
 2840.487197797836,
 1430.6468877578377,
 1108.3915797653833,
 1764.225431538854,
 1407.638973681016,
 2513.792912658172,
 1237.540889991978,
 1559.9604595567257,
 1598.313155546823,
 1480.8583809788424,
 1024.455020100064,
 1063.9442012175755,
 1049.5050978280271,
 1006.6833832950849,
 1044.237797493839,
 2254.6591217729865,
 1050.034264070903,
 2257.2052740707695,
 1113.4268093007072,
 1854.7980725296902,
 1815.7890796691524,
 1939.7239319622663,
 1192.329233629938,
 2896.229420417505,
 1419.2786533250128,
 1471.0956672388556,
 1034.5089416781116,
 1191.704749943829,
 1319.2936147397386,
 1249.6052649921244,
 1902.313197855222,
 1285.1773158025403,
 1279.0244874495795,
 1962.5985237283235,
 1689.3841312629138,
 2715.684422840385,
 1892.000290092569,
 1968.5857425129968,
 2677.338452464406,
 1446.7147677640153,
 1192.993764529197,
 1187.0564814540458,
 1444.6333398387826,
 1177.5981658006697,
 1239.762447248601,
 1076.4936656253183,
 1177.4676735632008,
 1588.2106893528112,
 1334.9545507970543,
 1027.435070520257,
 1197.490899443202,
 1083.0137426774206,
 3284.294192148914,
 1255.4243506067726,
 1446.0225251318252,
 1368.7908783885578,
 1355.1437693347907,
 1508.2641714937417,
 1024.4194286960535,
 1138.082130112867,
 1301.5682048595645,
 1316.506260706102,
 3041.4579596751682,
 1136.9594050795563,
 1201.30283099362,
 1270.752638125011,
 1182.0173851096083,
 1547.6135034140216,
 1180.1474345311112,
 1048.6418105460089,
 1523.0352841418512,
 1000.7468233012664,
 1024.7901587205522,
 1216.8210183454464,
 1354.116158228444,
 1408.104163986108,
 1659.8544689062737,
 1048.3076751410122,
 1371.0833191645706,
 1569.382721704445,
 2724.4783129441007,
 1288.52530687719,
 1153.9953162057102,
 1508.619484562275,
 1951.1258471404808,
 1610.9833793257515,
 1262.810652758096,
 1041.0957337575496,
 1337.1590509960135,
 1115.684829489834,
 1185.841901148387,
 1354.2692503490243,
 1299.2837514985388,
 1442.1698424413964,
 1065.2143749850381,
 1108.7544444846567,
 2147.347817378063,
 1186.3058368355373,
 1452.1897145504608,
 1197.84894441836,
 2611.7406815600007,
 1880.8025002957247,
 1520.2974492079622,
 1075.0674068509638,
 2106.4323990349794,
 1298.6326742218248,
 1388.0400409132444,
 1302.7253816057782,
 1616.7458922061944,
 1029.014768590004,
 1536.8976631278874,
 1267.6032070997783,
 1877.3893744377112,
 1023.6506400035734,
 1160.0035905441584,
 1777.2313326578064,
 1288.7918605149753,
 2790.452545848867,
 1202.6639310415203,
 2629.962310553954,
 1290.9082190149209,
 2360.0293943000943,
 2118.3628229788046,
 1551.9758435171968,
 1041.4243957720607,
 1034.009728241436,
 1139.7646469960964,
 1560.6313521351274,
 3211.5481397500366,
 3065.7560232398473,
 1150.308501668946,
 2914.2638685552256,
 1571.064661559194,
 3049.495494733294,
 1204.9100730634564,
 1497.931329671672,
 2562.450324521943,
 1513.114129394869,
 1764.4259597103091,
 2137.1992492421787,
 2680.686747616305,
 1926.1725526517503,
 3156.278843447996,
 1768.9394429664994,
 1644.9673902936943,
 1302.6013540027413,
 1390.7802893106546,
 1028.6149812308893,
 2998.528043922002,
 1294.2044882254986,
 1406.8308680396453,
 1067.1026947025578,
 1411.5322638529128,
 1080.5361260395734,
 1049.2554911096895,
 1565.3881738085656,
 1418.2023491555406,
 2015.6511926560725,
 3271.1124840994357,
 1149.1775521840532,
 1515.1226697640382,
 1407.2262905733642,
 1317.0178144116148,
 1397.9845114417437,
 1628.9523718426963,
 3239.872162151006,
 2190.974675792083,
 1098.1735713996034,
 1917.3045036138665,
 2962.871878640393,
 1049.5563504075258,
 1133.3272478297583,
 1027.9029999149009,
 1726.71934646825,
 1998.7526430400485,
 2801.692715873599,
 1389.2007444766869,
 1269.353475746162,
 2137.3691542008996,
 1533.6260265688038,
 1154.5568678727805,
 1551.8563004550083,
 1877.2978016938307,
 1912.509354798899,
 1145.0546549573032,
 1518.2587501220146,
 1317.3552491744808,
 1350.651353603921,
 1029.4740449517456,
 2963.4599065769244,
 1335.3246343581097,
 2614.5783208722805,
 1411.8640432578054,
 1369.364839759428,
 1445.9731664507842,
 1301.650408672137,
 1169.7916480454269,
 1180.6687857492518,
 2127.7094790719666,
 2645.8368395694806,
 1500.1437047530928,
 1083.52389571214,
 1262.3363999932544,
 1116.8429998743031,
 2993.9148903687283,
 3241.368061798354,
 1384.1760379296325,
 3269.598552910641,
 2114.3951603003725,
 1589.3429628906083,
 1504.5529972567151,
 1863.0383993390458,
 1608.1989894467174,
 1527.7394597479242,
 1613.6993637952612,
 2953.6232086873297,
 1340.5073748796212,
 1853.9708468939793,
 1585.6588108255064,
 1579.193922596979,
 1615.8151596325804,
 1471.934230885636,
 1242.4202236708252,
 1180.4411444221278,
 1345.3830859688774,
 1208.600004990602,
 1024.6067809848134,
 1512.8003408281693,
 1374.0011343096583,
 1116.4749514759392,
 1540.3000289610354,
 1623.0549468302804,
 2124.4237702008795,
 1374.5772577415992,
 1406.9586403420349,
 1034.2581569597216,
 1023.2552629617264,
 1427.2105825939227,
 1173.788341242214,
 1609.238263232441,
 1070.6754587220912,
 1098.5802256370703,
 1414.5254470582386,
 1589.4018437387365,
 1330.1841845173271,
 1334.934862393746,
 1113.011104575036,
 1588.672685649632,
 1522.3143433214022,
 1312.100269954658,
 2674.2610709870696,
 1012.9127385538635,
 1809.8555939681526,
 1983.4890760897083,
 2771.9980832291867,
 1734.2787475865657,
 2239.2517847049157,
 1664.8855227666163,
 2972.040001642745,
 1941.423882767404,
 1226.264297737996,
 1343.8544680883776,
 1006.703351832552,
 1514.0360102079298,
 2396.493636012504,
 1098.4033245073083,
 1167.4199532455898,
 1460.4254792433549,
 1048.6617838720938,
 1375.5323691699482,
 1391.147044782132,
 1396.934831988894,
 1306.7029706106653,
 1354.3639213288143,
 1740.5417744923593,
 1664.0165106916622,
 1024.4121068989823,
 1389.9334892407462,
 1333.3857899310424,
 1649.8535669078028,
 1438.0429634786985,
 1102.3962227242534,
 1492.0317689355848,
 1146.686098834213,
 1355.2099743742992,
 1264.8419414575376,
 1141.3877706490616,
 1023.9175336332435,
 1884.598344483644,
 1638.503330496098,
 1189.5441398240437,
 1048.5100229873447,
 1298.0365367605448,
 1384.002977271585,
 1837.3563451742366,
 1636.7141279902717,
 2332.605150845356,
 3191.6253910492683,
 3177.7310815577575,
 2819.8404842642904,
 1076.8822787441025,
 1375.7368168253165,
 1415.0291474300714,
 1260.1750284831912,
 1296.9834343555929,
 1097.9551074590634,
 1846.7655200286954,
 2051.632319786989,
 1181.226963834872,
 1232.1449793472336,
 1551.4726363730279,
 1149.4870645147919,
 1612.8449019363966,
 1054.2513462327056,
 1230.091763565523,
 1549.2861294065706,
 1085.0195008594749,
 1173.175311930595,
 2721.867261462964,
 1001.3179234728232,
 2300.8771301713286,
 2196.5537994441033,
 1298.0057651006496,
 1555.9166942440388,
 1494.7670898449726,
 1229.3302775156417,
 1174.3274917538238,
 1306.0115204947704,
 1139.366351291519,
 1040.595035849264,
 1031.0138562270483,
 1170.6910008046473,
 1990.0528492819512,
 1515.259890009934,
 1513.2872403334065,
 1453.938877026064,
 1314.171469391634,
 1443.4071112196016,
 2006.6708672839634,
 1675.5997971746324,
 1480.9469536534846,
 1024.4297266192725,
 1881.1102456263852,
 1579.5577857431258,
 1551.7208208717907,
 2061.495583493204,
 1051.6798774687636,
 1065.8513713302361,
 1051.7935951770364,
 1029.8135100886848,
 1946.082993167422,
 2161.7390111224067,
 2328.687807444755,
 2629.3586530468133,
 1067.6401811693784,
 1019.7497263516653,
 1033.6358042086663,
 1691.1563269915664,
 1391.8443825039778,
 1023.9581554805654,
 1419.3964676960682,
 1404.214680765599,
 1154.440090237543,
 1543.6746734840167,
 1006.3239496206786,
 3287.2001942520174,
 1447.261982308501,
 1030.0198516425107,
 2120.1160677513362,
 1051.4584565565483,
 1548.4009294081375,
 1805.4566783999478,
 1040.4709483885006,
 1182.4354841443283,
 1330.706471910306,
 1339.4759735820503,
 1591.3457832554595,
 2679.6473086232572,
 1273.6932183605347,
 2010.2184144405946,
 2504.893467045731,
 1232.3682103570898,
 1271.753567051318,
 1072.8537771516017,
 1093.6280953859032,
 1092.0534924058122,
 1494.827354603731,
 1509.5629333112472,
 1065.9172675038772,
 1394.5559327131293,
 1006.4371046663251,
 1955.8218725185516,
 1490.3966857089208,
 2273.888051907348,
 1349.1663576399815,
 1197.2379646352863,
 1131.0111009998536,
 2174.8731495185657,
 1137.5436643736452,
 1418.7374030043675,
 1204.748993527889,
 2777.713144256315,
 1496.137273901404,
 2098.4039431967667,
 1418.484571151741,
 1345.7877816615423,
 1028.0674075400461,
 3277.1623930779333,
 1618.7662101815745,
 1565.249059664212,
 1866.396609803578,
 1608.5970289602267,
 1236.8092729474806,
 1232.272117157725,
 1368.8774087175816,
 1340.5293402708348,
 2255.7752629352744,
 1243.001973729031,
 1092.6364970819595,
 1611.2829073877567,
 4000.0,
 1436.2251992602291,
 2086.315575304504,
 1102.810325657171,
 1498.8086595762616,
 1100.1658304672405,
 3142.4914781644593,
 1587.500475036901,
 1136.525934580743,
 1566.7446408684561,
 1482.0118968265203,
 1802.4300170077781,
 1130.5281568931648,
 1345.3894093390752,
 1134.7184802570378,
 2860.9313144769076,
 1025.1189739708423,
 1386.5355576679565,
 1469.38318557788,
 1065.706932242558,
 1380.0657419514066,
 1080.419329249864,
 1048.200177847648,
 1251.4830641156836,
 1293.774499052042,
 1499.5021951353378,
 3134.773056616358,
 1126.3916528080906,
 1052.5584931173123,
 1173.9112554915437,
 2460.4388366146763,
 1579.5273325263338,
 1531.585663438067,
 1026.0082155629498,
 3751.022815903899,
 1411.9483468794137,
 1099.8243684765544,
 1564.679520582155,
 1024.7901587205522,
 1250.6552724653138,
 1790.3310384955348,
 1005.7914552882248,
 1175.1546441236774,
 1131.1763274786933,
 3050.5821471064755,
 1599.236367595715,
 1232.4853591102296,
 1513.3670642027846,
 1349.865795170863,
 1069.1762238022384,
 1681.7666011095112,
 1219.6678230727646,
 1368.8247219469627,
 1312.1429724565432,
 1214.1935275383805,
 1302.6228070118186,
 2549.122646942442,
 1024.4780030726236,
 1385.5920634271124,
 1476.4033859040965,
 1716.5330698802936,
 1782.800667895574,
 1390.832073426762,
 1116.6864767088557,
 2175.936375493152,
 1158.6574668993585,
 2825.4005367658756,
 1355.5940359115816,
 1260.9638886684274,
 1051.995943023369,
 1269.6549431984968,
 1036.3071156599435,
 3003.9398862991575,
 1504.5403505163194,
 2062.339270961349,
 2595.4709158091373,
 1459.3132388893691,
 1121.5098482023052,
 2870.452047372877,
 1385.9767977652373,
 2603.9939257586166,
 1527.118641748969,
 1125.2027682271437,
 1269.4420029289324,
 1488.6708615213402,
 1490.5497778295014,
 3004.591416100281,
 1429.25039024496,
 1040.9877504194485,
 1107.4946979331012,
 1289.7825561644074,
 1395.9934375570858,
 1636.3622459666053,
 1076.0067661200808,
 2139.3641576255686,
 1911.1518663267677,
 1566.3633423638162,
 1265.4986621206795,
 2516.343919178121,
 1575.6872343242655,
 1160.167184104227,
 1846.8322288308275,
 1431.8980267683628,
 1239.5120671684406,
 1341.4481228479863,
 1028.2697553863786,
 1541.5486252153505,
 1415.60484946362,
 1452.8996990127025,
 1342.8051405989584,
 1354.6286840234307,
 1532.621570825268,
 2127.5062338386024,
 1109.5851356432845,
 1140.633982302772,
 2210.1022960065247,
 1635.570498244656,
 1254.455184584307,
 2008.9888031415894,
 1192.8222649606494,
 1000.6955707217678,
 2241.020191200068,
 2984.334215945722,
 1363.0530125254634,
 2861.8845511612717,
 3135.1650289507375,
 1257.5492160867684,
 1177.9310848966695,
 1135.1214664130418,
 1156.964058304266,
 1242.4691346160744,
 3158.666477163171,
 1292.1493929111846,
 1544.175064920744,
 3155.2924838922513,
 1538.3207925403149,
 1432.6473018420952,
 1070.0764025980807,
 1005.7648305716021,
 2866.6998777763174,
 1418.6017390593533,
 1174.5043354201682,
 1484.7280105887187,
 1316.4209586576203,
 1206.718667078269,
 2202.6473600285935,
 2613.026554811897,
 1047.0356984588354,
 1332.6323104506203,
 1059.395871187489,
 1058.9524164199422,
 1117.6144510384456,
 1099.573147993918,
 2343.906919737848,
 2874.828820370999,
 1471.8882338144995,
 1113.9086975171053,
 1043.0342765016767,
 1403.1931033180551,
 1401.4028664707198,
 1204.1610086889202,
 1373.9460915389352,
 1203.667785813485,
 3072.4436396733304,
 1437.8026754111788,
 1239.0170318010553,
 1208.167583199152,
 1029.0030364756649,
 1430.273938208851,
 1344.2520909921122,
 1041.305633254622,
 1063.9581289133123,
 1527.9497950092436,
 1404.404401026008,
 1574.1903099126448,
 1465.7534657346937,
 1532.0030058711277,
 1419.1863622884175,
 1485.6935923305382,
 1567.809629533364,
 1006.7699136241087,
 1430.2219170561475,
 2906.375470219132,
 1265.4241009425907,
 1743.9522158510674,
 1052.4701957882105,
 1271.010897876251,
 1873.4499219873537,
 1428.2719319090763,
 1149.072224134687,
 1398.6704833785348,
 1617.0301110561415,
 1405.2137924113376,
 2881.79020688974,
 1113.12904823878,
 2679.2356167595517,
 3081.3049520832747,
 1358.3136046617374,
 1820.0327290841606,
 3017.5666293601553,
 1126.2265795650299,
 1368.9791141773567,
 1420.847028707268,
 1508.3584972141666,
 1024.2020852921485,
 1356.0353405896026,
 1092.9295676924603,
 1881.9374698255108,
 1037.5659595569875,
 1626.7660396607994,
 1512.9523842413862,
 1766.492654494241,
 1187.206027602925,
 1328.6879257236221,
 2050.7926533214604,
 1206.2387805042354,
 2684.9195436283953,
 1134.2673110257356,
 1062.016487933276,
 1858.0725774710143,
 1093.327044543343,
 1381.8058276014058,
 1513.375767516177,
 1332.372719463549,
 1283.9060622016964,
 1631.9614532601063,
 1278.284236526652,
 2284.2792971523218,
 1480.2460124965205,
 1559.0872392441875,
 1796.1859233402188,
 1294.0147871195618,
 1451.9793601346692,
 1280.843980359182,
 1302.9533629247871,
 1230.4525284757606,
 1418.905260828852,
 1820.6418652492666,
 1001.1934529226121,
 1395.7451620745792,
 2120.45954287707,
 1154.6072632896396,
 1253.4282319129488,
 1556.4035937492763,
 1038.0907992834123,
 1195.7445790124398,
 1590.7280898298134,
 1217.420074469457,
 1006.2507316499663,
 1077.0985854121893,
 1961.2645200759287,
 1291.5127724725073,
 1823.1092486102389,
 1150.5681309649622,
 1172.2777261714523,
 1513.6399675481673,
 1803.6571659993574,
 1283.7183579495063,
 1631.7131777775994,
 1046.9862128794148,
 2803.91130658131,
 1033.2331053697483,
 1316.5268876785574,
 2309.9198287307445,
 1048.6048735403128,
 1000.4612732154881,
 1104.7710708291077,
 1397.1223063874154,
 1250.8814341094455,
 1473.6823446538756,
 1158.3602685000578,
 1213.6888167681288,
 1036.2046105009463,
 1082.4066991384232,
 1118.5528765270333,
 2066.876905612914,
 3586.5015860619033,
 1302.8343202731899,
 1074.6581667597245,
 1023.943511886423,
 1339.864028826826,
 1545.9853493177447,
 1715.76484385044,
 3044.3564647177777,
 1941.0474413581003,
 2842.446350754255,
 1239.2211921393377,
 1587.6535671574816,
 1198.463879599982,
 1172.2879019849097,
 1508.649897075813,
 1203.7836607942108,
 1289.1586159864528,
 1157.0838695290681,
 1504.5213804057257,
 1252.8590256398497,
 1550.705715241606,
 1019.3669960502142,
 1536.4239730256722,
 2671.186404656195,
 2264.771679500777,
 1428.5899943174281,
 3101.5847320087496,
 1419.0436902008175,
 1063.026895929107,
 1088.6972792738886,
 1453.9494239574237,
 2731.0029487606316,
 1622.412422025489,
 2962.8445404196736,
 1507.9672987204717,
 2100.6657205356532,
 1036.0808055686507,
 2908.3740191366405,
 1703.740669299223,
 1818.675916764905,
 1471.3710750315033,
 3154.477676579853,
 1288.7162290807416,
 1533.8262746061005,
 1207.6427434727273,
 1366.8366433429248,
 1262.3438247456147,
 1000.9371900251186,
 1500.614399574688,
 1575.0043103428934,
 1156.5771858481603,
 1351.2903468028658,
 1108.7251572963717,
 1232.009193292458,
 1274.2514419380268,
 1372.0404585726837,
 1075.0970196652795,
 2198.0397674975166,
 1264.9022684683312,
 1247.1099855364243,
 1248.53301917649,
 1111.1529292084408,
 1079.8350508013025,
 1070.1042555952454,
 3161.2584316353345,
 1179.8656267503761,
 1890.5786125891486,
 2249.6647554313363,
 1198.7421078886891,
 1026.850887844058,
 1518.284529647543,
 2350.826510718972,
 1293.1563123987316,
 1445.3914163925785,
 3062.9740133040077,
 1595.3751611650723,
 1571.8572089803652,
 1894.3309665475053,
 1052.659980694964,
 1024.551221043336,
 1047.6690147510253,
 1362.3540107588287,
 3277.068588838019,
 1169.4889451296228,
 1335.3905305317508,
 1551.7788206141888,
 1164.8394411763704,
 1178.3782388716968,
 1311.8274695645646,
 1672.714412945611,
 1784.1090189208198,
 1072.6514293052692,
 2561.6072835172413,
 1635.010751886609,
 1311.50531049343,
 1198.0397205690595,
 1064.7162677191434,
 1988.966874498231,
 2625.6161583742573,
 1570.805532673769,
 1197.4516279861832,
 1590.400605815354,
 1590.9464125061193,
 1209.0896507683185,
 1153.1657192463176,
 1245.5872049813856,
 2159.394304495306,
 1085.7974358125214,
 1522.459883791243,
 1591.3431207837975,
 1247.4700848287462,
 1086.44369334512,
 1245.0060104028792,
 1429.7830761221378,
 1298.1522010420745,
 1170.068648053592,
 1532.1090450302813,
 2483.8389820901166,
 1375.615461271178,
 1056.6076097107232,
 1400.6047905899547,
 1000.0,
 1403.5699460135552,
 1052.4638724180127,
 1024.2589956239294,
 1567.9780308660024,
 1505.3072453103418,
 1289.1473004818881,
 2816.1030995261067,
 1250.7752632632946,
 1900.8149206589883,
 1498.638742645995,
 3219.094475123873,
 1163.0672454477178,
 2813.7691749515143,
 1904.4626816208574,
 1131.871847919971,
 2957.4743590199673,
 1550.1170753196811,
 2911.2498955644296,
 2309.5455512979597,
 1077.0121819815452,
 1106.85370788041,
 1639.414650011944,
 1401.223903840867,
 2213.6859579631246,
 1173.5620311509213,

In [ ]:
dataset.drop(['charges'], axis=1)

      age     sex     bmi  children smoker     region
0      19  female  27.900         0    yes  southwest
1      18    male  33.770         1     no  southeast
2      28    male  33.000         3     no  southeast
3      33    male  22.705         0     no  northwest
4      32    male  28.880         0     no  northwest
...   ...     ...     ...       ...    ...        ...
1333   50    male  30.970         3     no  northwest
1334   18  female  31.920         0     no  northeast
1335   18  female  36.850         0     no  southeast
1336   21  female  25.800         0     no  southwest
1337   61  female  29.070         0    yes  northwest

[1338 rows x 6 columns]

In [ ]:
dataset['charges']=new_df
dataset

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  1754.832270
1      18    male  33.770         1     no  southeast  1028.907853
2      28    male  33.000         3     no  southeast  1159.345486
3      33    male  22.705         0     no  northwest  1999.030082
4      32    male  28.880         0     no  northwest  1131.446671
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  1453.897518
1334   18  female  31.920         0     no  northeast  1051.913739
1335   18  female  36.850         0     no  southeast  1024.324245
1336   21  female  25.800         0     no  southwest  1042.430561
1337   61  female  29.070         0    yes  northwest  2341.746197

[1338 rows x 7 columns]